body {
    padding-top: 60px;
    padding-bottom: 40px;
}

legend {
    margin:3px;
    text-align:center;
    width:100%
}

footer {
    margin-top: 40px;
    padding: 35px 0 36px;
    border-top: 1px solid #E5E5E5;
}

div.highlight code {
    background-color: whiteSmoke;
}

code {
    padding: 0;
}

.stacked img {
    margin-bottom: 10px;
}

.well {
    margin-left: 5px;
}

.picture.well {
    text-align: center;
}

.footer-links {
    margin: 10px 0;
}

.footer-links li {
    display: inline;
    margin-right: 10px;
    list-style-type: disc;
}

.nav-right-return {
    font-size: 10px;
    display: block;
}

.navbar-text {
    margin: 5px 0 0 10px;
}

.navbar-brand {
    padding: 10px 15px 0 15px;
}

h2:before, h3:before {
    display:block;
    content: "";
    height: 60px;
    margin: -60px 0 0;
}

.subnav {
    margin-bottom: 15px;
}
