<!doctype html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>{{ page.title }}</title>

    <!-- TODO make a favicon for OpenXC -->
    <!-- <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" /> -->

    <link rel="stylesheet" type="text/css"
            href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen"
        href="/static/css/styles.css"/>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/"><img src="/static/images/openxc-logo.png"
                alt="OpenXC"/> VI Reference Design</a>
              <ul class="nav">
                    <li class="{% if page.section == 'overview' %}active{% endif %}"><a href="/index.html">Overview</a></li>
                    <li class="{% if page.url contains 'electrical/' %}active{% endif %}"><a href="/electrical/index.html">Electrical</a></li>
                    <li class="{% if page.url contains 'mechanical' %}active{% endif %}"><a href="/mechanical/index.html">Mechanical</a></li>
                    <li class="{% if page.url contains 'assembly/' %}active{% endif %}"><a href="/assembly/index.html">Assembly</a></li>
                    <li class="{% if page.url contains 'firmware' %}active{% endif %}"><a href="/firmware/index.html">Firmware</a></li>
              </ul>
            <a class="brand reverse-brand" href="http://openxcplatform.com">...back to OpenXC</a>
        </div>
    </div>
</div>

<div class="container">
  <div class="span12">
    <div class="page-header">
        <h2>{{page.title}}</h2>
    </div>

    {{ content }}
  </div>

  <div class="span12">
    <footer>
      <p>
        Except as otherwise noted, the content of this page is licensed
        under the
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License.</a>
      </p>
    </footer>
  </div>
</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js">
</script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/app.js"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27117308-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
